For improved readability of the Notebook, use [Markdown Cheat Sheet](https://gtribello.github.io/mathNET/assets/notebook-writing.html) and [Unofficial Jupyter Extensions](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/index.html).

# Imports and Installations

In [1]:
import os
import csv
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\andrea\appdata\local\programs\python\python38-32\lib\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

# Load & View Data

In [3]:
rki = pd.read_csv("data/RKI/RKI_COVID19.csv")
casting = pd.read_csv("data/RKI/Nowcasting_Zahlen_csv.csv", sep=';')

In [4]:
rki.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,Altersgruppe2
0,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,1,2020/09/30 00:00:00+00,1001,"18.01.2021, 00:00 Uhr",0,-9,2020/09/30 00:00:00+00,0,1,0,Nicht übermittelt
1,1,Schleswig-Holstein,SK Flensburg,A35-A59,W,1,0,2,2021/01/05 00:00:00+00,1001,"18.01.2021, 00:00 Uhr",0,-9,2021/01/03 00:00:00+00,0,1,1,Nicht übermittelt
2,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,3,2020/10/29 00:00:00+00,1001,"18.01.2021, 00:00 Uhr",0,-9,2020/10/29 00:00:00+00,0,1,0,Nicht übermittelt
3,1,Schleswig-Holstein,SK Flensburg,A35-A59,W,2,0,4,2021/01/05 00:00:00+00,1001,"18.01.2021, 00:00 Uhr",0,-9,2021/01/05 00:00:00+00,-9,0,0,Nicht übermittelt
4,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,5,2020/11/03 00:00:00+00,1001,"18.01.2021, 00:00 Uhr",0,-9,2020/11/03 00:00:00+00,0,1,0,Nicht übermittelt

In [6]:
casting.head()

,Datum,Schätzer_Neuerkrankungen,UG_PI_Neuerkrankungen,OG_PI_Neuerkrankungen,Schätzer_Neuerkrankungen_ma4,UG_PI_Neuerkrankungen_ma4,OG_PI_Neuerkrankungen_ma4,Schätzer_Reproduktionszahl_R,UG_PI_Reproduktionszahl_R,OG_PI_Reproduktionszahl_R,Schätzer_7_Tage_R_Wert,UG_PI_7_Tage_R_Wert,OG_PI_7_Tage_R_Wert
0,02.03.2020,304.0,292.0,319.0,225.0,213.0,238.0,.,.,.,.,.,.
1,03.03.2020,321.0,304.0,337.0,261.0,248.0,276.0,.,.,.,.,.,.
2,04.03.2020,448.0,430.0,467.0,326.0,311.0,342.0,.,.,.,.,.,.
3,05.03.2020,503.0,485.0,525.0,394.0,378.0,412.0,.,.,.,.,.,.
4,06.03.2020,757.0,732.0,783.0,507.0,488.0,528.0,"2,25","2,18","2,33","2,34","2,28","2,39"

In [13]:
tests1 = pd.read_csv("data/RKI/Testzahlen-gesamt.csv", sep=';')
tests2 = pd.read_csv("data/RKI/Testzahlen-rueck.csv", sep=';')

   Labore mit Rückstau  KW  Probenrückstau  Unnamed: 3
0                   25  15           3.423         NaN
1                   34  16           2.258         NaN
2                   29  17           2.393         NaN
3                   30  18           3.790         NaN
4                   29  19           3.224         NaN

In [ ]:
tests1.head()

In [12]:
tests2.head()

,"KW, für die die Angabe prognostisch erfolgt ist:",Anzahl übermittelnde Labore,Testkapazität pro Tag,Theoretische wöchentliche Kapazität anhand von Wochenarbeitstagen,Reale Testkapazität zum Zeitpunkt der Abfrage
0,"2020, KW11",28,7.115,-,-
1,"2020, KW12",93,31.010,-,-
2,"2020, KW13",111,64.725,-,185.655
3,"2020, KW14",113,103.515,-,284.580
4,"2020, KW15",132,116.655,-,462.880

In [14]:
breakouts = pd.read_csv("data/RKI/Ausbruchsdaten.csv", sep=';')
breakouts.head()

   Meldewoche             sett_f                sett_engl   n
0           9  Privater Haushalt        Private household   2
1           9  Alten-/Pflegeheim  Retirement/nursing home   1
2           9       Arbeitsplatz               Work place   1
3           9  Ausbildungsstätte  Educational institution   3
4           9           Freizeit                  Leisure  77

In [23]:
# breakouts per location
breakouts.groupby('sett_engl')['n'].mean().sort_values(ascending=False)

sett_engl
Private household                        2197.804348
Retirement/nursing home                  1871.760870
Unknown                                   811.239130
Work place                                450.326087
Hospital                                  360.204545
Other                                     223.043478
Refugee accomodation                      213.022222
Leisure                                   165.977273
Residences                                152.200000
Day-care centre for the elderly           149.394737
Care facility                             142.025641
Educational institution                   140.285714
Kindergarten, after-school child care      89.181818
Medical rehabilitation                     66.875000
Residential home                           59.058824
Medical practice                           50.727273
Overnight stay                             43.736842
Dining venue                               28.475000
Health care centre                         27.275000
Public transport                           14.878788
Name: n, dtype: float64

## case overview
**RKI_COVID19.csv**

In [21]:
print(f'dimensions: {rki.shape}\n\ncolumns: {rki.dtypes}')

dimensions: (238000, 18)

columns: IdBundesland             int64
Bundesland              object
Landkreis               object
Altersgruppe            object
Geschlecht              object
AnzahlFall               int64
AnzahlTodesfall          int64
ObjectId                 int64
Meldedatum              object
IdLandkreis              int64
Datenstand              object
NeuerFall                int64
NeuerTodesfall           int64
Refdatum                object
NeuGenesen               int64
AnzahlGenesen            int64
IstErkrankungsbeginn     int64
Altersgruppe2           object
dtype: object

## nowcasting

## PCR testing

# Exploratory Analysis

# Data Wrangling & Preparation

# Data Analysis

# Data Visualization