For improved readability of the Notebook, use [Markdown Cheat Sheet](https://gtribello.github.io/mathNET/assets/notebook-writing.html) and [Unofficial Jupyter Extensions](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/index.html).

# Imports and Installations

In [1]:
import os
import csv
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns
import functools as func
from data_preprocess import data_load, data_clean

# Load, Preprocess & View Data

#### load & preprocess

for the sake of having a cleaner Notebook, the loading and preoprocessing code was moved to a script, `data_preprocess.py`. If you don't feel like checking out the details, this is what it does:
* load the data from multiple csv files, including:
    * an overview of total cases over time
    * cases per age
    * cases in relation to comorbidities
    * total deaths per age group
    * cases that can be allocated to a breakout cluster and testing capacities
* preprocess/clean data:
    * since some of the data was extracted from files with messy or incompatible formatting, cleaning included a lot of **string extractions and replacements** in different columns before numeric conversion could be done
    * furthermore, I **renamed columns** where necessary to be suitable for pandas (and for non-German speakers) and **merged suitable tables together**
    * I made sure every table included the calendar week as a **common time-based reference for comparison** between tables

In [12]:
# load
overview, casting, breakouts, cases_age1, cases_age2, deaths1, deaths2, deaths3, tests1, tests2, comorb =\
    data_load()

In [13]:
# preprocess
overview, casting, breakouts, cases_age, deaths, tests, comorb =\
    data_clean(overview, casting, breakouts, cases_age1, cases_age2, deaths1, deaths2, deaths3, tests1, tests2, comorb)

#### view

In [21]:
for data in [overview, casting, breakouts, cases_age, deaths, tests, comorb]: 
    print(f'dimensions: {data.shape}')

dimensions: (1030560, 20)
dimensions: (319, 14)
dimensions: (840, 3)
dimensions: (19, 91)
dimensions: (42, 22)
dimensions: (45, 7)
dimensions: (45, 13)

In [22]:
overview.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,IdLandkreis,NeuerFall,NeuerTodesfall,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn,report_date,ref_date,report_delay,ref_date_dayofweek,ref_date_week,report_date_dayofweek,report_date_week
0,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,1001,0,-9,0,1,0,2020-09-30,2020-09-30,0,2,40,2,40
1,1,Schleswig-Holstein,SK Flensburg,A35-A59,W,1,0,1001,0,-9,0,1,1,2021-01-05,2021-01-03,2,6,53,1,1
2,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,1001,0,-9,0,1,0,2020-10-29,2020-10-29,0,3,44,3,44
3,1,Schleswig-Holstein,SK Flensburg,A35-A59,W,2,0,1001,0,-9,-9,0,0,2021-01-05,2021-01-05,0,1,1,1,1
4,1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,1001,0,-9,0,1,0,2020-11-03,2020-11-03,0,1,45,1,45

In [23]:
casting.head()

,date,est_new_cases,pred_lower,pred_upper,est_new_cases_smooth,pred_lower_smooth,pred_upper_smooth,est_r,r_lower,r_upper,est_r7,r7_upper,r7_lower,week
0,2020-03-02,304.0,292.0,319.0,225.0,213.0,238.0,NaN,NaN,NaN,NaN,NaN,NaN,10
1,2020-03-03,321.0,304.0,337.0,261.0,248.0,276.0,NaN,NaN,NaN,NaN,NaN,NaN,10
2,2020-03-04,448.0,430.0,467.0,326.0,311.0,342.0,NaN,NaN,NaN,NaN,NaN,NaN,10
3,2020-03-05,503.0,485.0,525.0,394.0,378.0,412.0,NaN,NaN,NaN,NaN,NaN,NaN,10
4,2020-03-06,757.0,732.0,783.0,507.0,488.0,528.0,2.25,2.18,2.33,2.34,2.28,2.39,10

In [24]:
breakouts.head()

   week                sett_engl  num_breakouts
0     9        Private household              2
1     9  Retirement/nursing home              1
2     9               Work place              1
3     9  Educational institution              3
4     9                  Leisure             77

In [25]:
cases_age.head()

,Altersgruppe,2020_10_total,2020_11_total,2020_12_total,2020_13_total,2020_14_total,2020_15_total,2020_16_total,2020_17_total,2020_18_total,...,2020_45_incidence,2020_46_incidence,2020_47_incidence,2020_48_incidence,2020_49_incidence,2020_50_incidence,2020_51_incidence,2020_52_incidence,2020_53_incidence,2021_1_incidence
0,90+,1,12,99,423,1172,1245,848,582,284,...,208.98,281.15,372.40,427.31,502.77,656.95,722.19,635.69,600.09,641.28
1,85 - 89,6,38,218,738,1447,1421,926,684,329,...,146.50,180.78,215.24,261.99,292.68,376.90,441.49,372.55,355.80,380.48
2,80 - 84,12,83,468,1285,1963,1719,1182,823,451,...,104.18,115.32,132.35,145.13,164.68,213.86,249.77,224.72,207.09,229.19
3,75 - 79,24,112,571,1407,1786,1312,853,587,352,...,78.55,84.85,87.37,90.08,102.05,128.31,153.23,130.74,118.74,132.73
4,70 - 74,11,144,622,1326,1416,1051,632,424,276,...,86.33,89.57,91.34,86.99,94.45,119.05,140.28,120.36,112.11,129.47

In [26]:
deaths.head()

,week,deaths_total,age_0,age_10,age_20,age_30,age_40,age_50,age_60,age_70,...,M0_19,M20_39,M40_59,M60_79,M80,F0_19,F20_39,F40_59,F60_79,F80
0,10,3,0,0,0,0,0,3,3,0,...,0,0,3,3,0,0,0,0,0,0
1,11,18,0,0,0,0,0,0,3,6,...,0,0,0,5,6,0,0,0,3,5
2,12,162,0,0,0,0,3,8,7,36,...,0,0,7,30,61,0,0,3,13,49
3,13,603,0,0,3,3,7,20,60,144,...,0,3,21,152,218,0,3,6,52,150
4,14,1370,0,0,3,5,9,54,127,320,...,0,5,49,317,460,0,3,14,130,393

In [27]:
tests.head()

,week,laboratories,daily_cap,daily_cap_est,daily_cap_real,laboratories_tailback,tests_tailback
0,11,28,7115,0,0,0.0,0.0
1,12,93,31010,0,0,0.0,0.0
2,13,111,64725,0,185655,0.0,0.0
3,14,113,103515,0,284580,0.0,0.0
4,15,132,116655,0,462880,25.0,3423.0

In [28]:
comorb.head()

,year,week,cases_tot,mean_age,male_perc,female_perc,symptoms_reported,no_symptoms_perc,hospital_reported,hospital_num,hospital_perc,deaths_num,deaths_perc
0,2020,10,895,43,53.0,47.0,835,7.8,802,162,20.0,12,1.34
1,2020,11,6435,45,56.0,44.0,5780,5.3,5615,521,9.0,85,1.32
2,2020,12,22432,45,55.0,45.0,20210,3.9,19346,2204,11.0,478,2.13
3,2020,13,34029,48,49.0,51.0,30866,3.2,29470,5110,17.0,1459,4.29
4,2020,14,36093,51,45.0,55.0,31986,5.3,31488,6063,19.0,2256,6.25

In [30]:
# overview.describe()

# Exploratory Analysis

In [34]:
# total cases reported until 
total_cases = overview['AnzahlFall'].sum()
total_cases

2040521

In [35]:
breakouts_time = breakouts.groupby('week')['num_breakouts'].sum()
breakouts_time

week
9        93
10      478
11     1654
12     3157
13     5453
14     8410
15     8116
16     5595
17     4154
18     2550
19     2186
20     1804
21     1663
22     1351
23      975
24     1088
25     2590
26     1446
27     1089
28      952
29     1189
30     1650
31     1874
32     1985
33     2302
34     2509
35     2252
36     2086
37     2777
38     3586
39     3642
40     4526
41     6579
42     8968
43    12498
44    15223
45    15856
46    17510
47    19820
48    19882
49    20619
50    25531
51    25806
52    19319
53    18047
54    16569
Name: num_breakouts, dtype: int64

In [36]:
breakouts_time_per_setting = breakouts.groupby(['week', 'sett_engl'])['num_breakouts'].sum()
breakouts_time_per_setting

week  sett_engl
9     Educational institution       3
      Leisure                      77
      Other                         3
      Overnight stay                5
      Private household             2
                                 ...
54    Residences                  255
      Residential home            154
      Retirement/nursing home    7135
      Unknown                    1835
      Work place                  353
Name: num_breakouts, Length: 840, dtype: int64

# Data Wrangling & Preparation

# Data Analysis

# Data Visualization